@model ChangePasswordViewModel;

<div class="tab-pane fade active show" id="nav-register" role="tabpanel" aria-labelledby="nav-register-tab">
    <div class="col-lg-8 offset-lg-2 mt-5">

        <form method="post" class="form-group flex-wrap ">
            <div class="form-input col-lg-6 my-4 m-auto">

               <input asp-for="CurrentPassword" placeholder="Enter Current Password"
                       class="form-control mb-3 p-4" aria-describedby="passwordHelpBlock">

                <input asp-for="NewPassword" placeholder="Set your new password"
                       class="form-control mb-3 p-4" aria-describedby="passwordHelpBlock">


                <input asp-for="ConfirmPassword" placeholder="Retype your new password"
                       class="form-control mb-3 p-4" aria-describedby="passwordHelpBlock">

                <div asp-validation-summary="All"></div>


                <div class="d-grid my-3">
                    <button type="submit" href="#" class="btn btn-dark btn-lg rounded-1">Change password</button>
                </div>

            </div>
        </form>

    </div>
</div>